<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners><!-- listeners - Extent report and Allure report both -->
		<listener class-name="com.Tudu.utility.ListenerClass"></listener>
		<listener class-name="com.Tudu.utility.allureListenerClass"></listener>
	</listeners>
	<test thread-count="5" name="Test">

		<groups>
			<run>
				<exclude name="vikesh1"></exclude>
			</run>
		</groups>
		<classes>

			<class name="com.testcases.loginPageTest" />
			<class name="com.testcases.forgotPasswordPageTest" />
			<class name="com.testcases.signUpTest" />
			<class name="com.testcases.createProjectPageTest" />
			<class name="com.testcases.homePageTest" />
			<class name="com.testcases.confirmPasswordPageTest" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
